* {
    box-sizing: border-box;
}
.flex-container {
    display: flex;
    flex-direction: row;
    align-content: space-between;
}

.try-button {
    padding: 10px;
    box-shadow: 1rem;
    border-radius: 0.5em;
    font-family: Georgia, 'Times New Roman', Times, serif;
}